Language Pack
Last-Modified-Using: http://www.microsip.org/translation
RTL: 

; utf8

[Call]
[End Call]
[Contacts]
[Account]
[Settings]
[Visit Website]
[Exit]
[Browse...]
[Default]
[Auto Answer]
[Disable Local Account]
[OK]
[Save]
[Cancel]
[SIP Server]
[SIP Proxy]
[Domain]
[Password]
[Connecting...]
[Online]
[Local]
[Message]
[Edit]
[Delete]
[Add]
[Bad Gateway]
[Request Timeout]
[Number]
[Name]
[Contact]
[Incoming Call]
[Answer]
[Decline]
[Calling]
[Connecting]
[Connected]
[Auto]
[Transport]
[Incorrect Password]
[Public Address]
[Media Encryption]
[Disabled]
[Optional]
[Mandatory]
[STUN Server]
[Presence Subscription]
[Ringing]
[Call Ended]
[Declined]
[No address found]
[Request Terminated]
[Away]
[Publish Presence]
[Session Progress]
[Camera]
[Video Call]
[Answer with Video]
[View Log File]
[Microphone]
[Speaker]
[Video Codec]
[Check for Updates]
[Daily]
[Weekly]
[Monthly]
[Quarterly]
[Never]
[Update Available]
[Force Codec for Incoming]
[Invalid URI]
[Offline]
[Single Call Mode]
[Local Video]
[Call Transfer]
[final]
[Call transfered successfully, disconnecting call]
[Hold]
[Transfer]
[Sound Events]
[Bitrate]
[Login]
[Enable Log File]
[Duration]
[Info]
[display password]
[From]
[To]
[Ring Device]
[Service Unavailable]
[Invalid Request URI]
[Busy Here]
[Trying]
[Method Not Allowed]
[Not Found]
[Always on Top]
[Connect]
[Last Call]
[Close All]
[Copy]
[Select All]
[Display Name]
[Remember Details]
[No]
[All Calls]
[SIP Header]
[Different User]
[Different Domain]
[Different User or Domain]
[Different Remote Domain]
[Deny Incoming]
[Allow IP Rewrite]
[Directory of Users]
[Call on Remote Hold]
[Call on Local Hold]
[Call on Hold]
[Call is Active]
[Menu]
[Edit Account]
[Add Account...]
[Remove Account]
[Make Active]
[Are you sure you want to remove?]
[Call Pickup]
[Speaker Level]
[Microphone Level]
[Mute Speaker]
[Mute Microphone]
[Please fill out at least the required fields marked with *.]
[Ask your SIP provider how to configure the account correctly.]
[Time]
[Phone]
[Ringtone]
[Username]
[Do you want to update now?]
[Available Codecs]
[Enabled Codecs]
[Logs]
[Random Popup Position]
[Attended Transfer]
[Enable Local Account]
[Send Crash Report]
[Account Name]
[Invite to Conference]
[Merge]
[Separate]
[Disconnect]
[DTMF Method]
[Voicemail Number]
[Disable Session Timers]
[Microphone Amplification]
[Software Level Adjustment]
[Shortcuts]
[Enable]
[Label]
[Type]
[Bottom Position]
[You need to restart application for the changes to take effect.]
[Handle Media Buttons]
[Bring to Front on Incoming Call]
[Help]
[Video Bitrate]
[Control Button]
[Do Not Disturb]
[Source Port]
[RTP Ports]
[Import]
[Redial]
[Backspace]
[Clear]
[Use Space key to enable selected codec]
[Use Delele key to disable selected codec]
[Conference]
[Dialing Prefix]
[Register Refresh]
[Keep-Alive]
[Ringtone Volume]
[Call Recording]
[Nameserver]
[Default List Action]
[Edit Local Account]
[Export]
[Call Waiting]
[Ready]
[Not online]
[On the phone]
[First Name]
[Last Name]
[Phone Number]
[Mobile Number]
[E-mail Address]
[Address]
[City]
[State]
[Postal Code]
[Comment]
[]
